<div class="container">
  <div class="image-gallery">
    <form (submit)="onPasswordSubmit($event)">
      <div class="fields-wrapper">
        <label>
          <span class="label">Password</span>
          <input name="password" type="text" placeholder="1111" (input)="onPasswordInputChange($event)">
        </label>
        <button [disabled]="formPasswordIsEmpty()" type="submit">Open form</button>
      </div>
    </form>

    <form (submit)="onAddImage($event)" *ngIf="showAddImgForm">
      <div class="fields-wrapper">
        <label>
          <span class="label">Image title</span>
          <input name="img-title" type="text" [(ngModel)]="imgTitle">
        </label>
        <label>
          <span class="label">Image url</span>
          <input name="img-url" type="text" [(ngModel)]="imgUrl">
        </label>
        <button [disabled]="formAddImgIsEmpty()" type="submit">Add image</button>
      </div>
    </form>

    <div id="images-list" class="images-wrapper">
      <div class="image-col" *ngFor="let image of images">
        <div class="image-wrapper">
          <div class="delete" (click)="deleteImage(image.id)">delete</div>
          <div class="title">{{ image.title }}</div>
          <img src="{{ image.url }}" alt="{{ image.title }}">
        </div>
      </div>
    </div>
  </div>
</div>
