.image-gallery {
  border-top: 2px solid #ccc;
  padding-top: 6vh;
  padding-bottom: 10vh;
}
.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.image-col {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  padding: 10px;
}
.image-wrapper {
  position: relative;
  height: 300px;
  background-color: #ccc;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.image-wrapper .title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #000;
  padding: 6px 10px;
}
.image-wrapper .delete {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 16px;
  background-color: orangered;
  padding: 6px 10px;
  cursor: pointer;
}
.image-wrapper:hover .delete {
  display: block;
}
