<div class="container">
  <div class="numbers-generator">
    <div class="numbers-wrapper">
      <div class="number-ball" *ngFor="let number of numbers">
        <div class="number">{{ number }}</div>
      </div>
    </div>
    <button type="button" class="numbers-btn" (click)="generateNumber()">
      Generate new numbers
    </button>
  </div>
</div>

