.numbers-generator {
  padding: 6vh 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.numbers-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.number-ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}
.number {
  font-size: 30px;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}
