@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f3f5;
  min-height: 100%;
}
.container {
  width: 960px;
  margin: auto;
}

.fields-wrapper {
  display: flex;
  margin-bottom: 16px;
  align-items: end;
}
.fields-wrapper input {
  height: 34px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 0;
  margin-right: 10px;
}
.fields-wrapper .label {
  display: block;
  margin-bottom: 6px;
  font-size: 17px;
  color: #333;
}

button {
  border: none;
  color: #fff;
  background-color: darkcyan;
  font-size: 20px;
  padding: 6px 20px;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #019d9d;;
}
button[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
